.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
!dist/types/**/*.d.ts
**/.vscode-test.*
.git/**
.github/**
scripts/**
test/**
.eslintrc.json
.prettierrc
.npmrc
.npmignore
.editorconfig
CHANGELOG.md
README.md
jest.config.js
webpack.config.js
**/jest.config.*
**/.eslintrc.*
**/.prettierrc.*
**/*.test.*
**/*.spec.*
**/test/**
**/tests/**
**/__tests__/**
**/__test__/**
**/*.log
